@import "tailwindcss";
/* @plugin "daisyui"; */
@plugin "daisyui" {
	themes: forest --default;
}



.ink-linear-gradient {
	background: linear-gradient(to right, darkorange, blueviolet);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}


/* general usage */
.icon{
	display: inline;
	height: 1.5rem;
	width: 1.5rem;
}
/* end general usage */